* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
section.sec1 {
  background: url('https://cdn.pixabay.com/photo/2017/06/27/05/33/shanghai-2446326_960_720.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;

}
nav {
  background: rgba(0,0,0,0.2);
  height: 70px;
  left: 0;
  padding: 0 100px;
  position: fixed;
  top: 0;
  width: 100%;
}
nav .logo {
  float: left;
  height: 100%;
  line-height: 70px;
}
nav .logo h2 {
  color: #fff;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  float: right;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #fff;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}
nav ul li a:hover {
  color: #262626;
}
nav ul li a:before {
  background: #fff;
  content: '';
  height: 100%;
  position: absolute;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .6s;
  top: 0;
  width: 100%;
  z-index: -1;
}
nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}
